*{
    margin: 0%;
    padding: 0%;
}


.box{
    display: flex;
    height: 10em;
    width: 10em;
    background-color: aqua;
    color: rgb(255, 0, 0);
    border-radius: 50em;
    align-items: center;
    justify-content: center;
    font-size: small;
}



